# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Build folders (if any)
dist/
build/
_site/

# Optional: IDE files
.vscode/
.idea/

# Google Drive service account key
config/service-account.json

# Uploaded files / temp
uploads-tmp/
